<StackLayout>
  <ActionBar title="{{ 'about' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="back()"></NavigationButton>
  </ActionBar>
  <ScrollView>
  	<StackLayout>
  		<Image src="res://logo"></Image>
      <Label [text]="info" textWrap="true"></Label>
      <Label [text]="version"></Label>
  	</StackLayout>
  </ScrollView>
</StackLayout>
