<ActionBar title="{{ 'app' | translate }}" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="toggleDrawer()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="toggleDrawer()"
        ios.position="left">
    </ActionItem>
</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton showOverNavigation="true">
    <StackLayout tkDrawerContent>

        <GridLayout rows="auto, *">
            <StackLayout row="0" class="drawerHeader">
            	<GridLayout columns="auto" rows="auto">
					<Label *ngIf="!picture" col="0" row="0" text="&#x0050;" class="font-yanomapp img"></Label>
					<Image *ngIf="picture" [src]="imageSrc" class="profile_img" stretch="aspectFill" loadMode="async"></Image>
	            </GridLayout>
                <Label [text]="userName" class="headerLabel"></Label>
                <Label [text]="userEmail" class="headerLabel"></Label>
            </StackLayout>

			<ScrollView row="1">
		        <StackLayout class="drawerContent">

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="verifyPassword()">
						<Label col="0" text="&#x004E;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'my_profile' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/patientOptions/', null, true)">
						<Label col="0" text="&#x006c;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'new_patient' | translate }}" class="p-r-10"></Label>
					</GridLayout>
					
					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="closeAndCheck()">
						<Label col="0" text="&#x0054;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'clinic_histories' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/visitObservation/', '/visitObservationList/')">
						<Label col="0" text="&#x0048;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'visitObservation' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/sync/')">
						<Label col="0" text="&#x0053;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'sync' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/map/')">
						<Label col="0" text="&#x006d;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'map' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/faq/')">
						<Label col="0" text="&#x0044;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'help' | translate }}" class="p-r-10"></Label>
					</GridLayout>

					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="onNavItemTap('/about/')">
						<Label col="0" text="&#x0045;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'about' | translate }}" class="p-r-10"></Label>
					</GridLayout>
										
					<GridLayout columns="auto, *" class="sideDrawerItem" (tap)="logout()">
						<Label col="0" text="&#x004A;" class="font-yanomapp icon"></Label>
						<Label col="1" text="{{ 'logout' | translate }}" class="p-r-10"></Label>
					</GridLayout>

				</StackLayout>
			</ScrollView>
		</GridLayout>
	</StackLayout>
    <StackLayout tkMainContent>
		<home-component></home-component>
    </StackLayout>
</RadSideDrawer>