.drawerContent {
    background-color: #FFFFFF;
}
.drawerHeader {
    background-color: #066d8b;
    padding: 20;
}
.headerLabel{
    font-weight: bold;
    color: white;
}
.sideDrawerItem {
    padding: 10;
    font-size: 16pt
}
.font-yanomapp {
    margin-top: 1;
    margin-right: 5;
}
.icon {
    font-size: 26pt;
}
.profile_img {
    width:100; 
    height:100; 
    border-radius:50%;
    border-color: #f7f3f3;
    border-width: 3;
}
.img{
    border-radius:100%;
    background-color: #FFFFFF;
    color: #575757;
    font-size: 85;
    border-color: #f7f3f3;
    border-width: 5;

}