.title{
  color: #575757;
  font-size: 24;
  text-align: center;
  margin: 10;
}
.section{
	background-color: #F5E400;
	padding: 10;
}
.subtitle{
  color: #575757;
  font-size: 18;
  text-align: center;
  margin: 10;
}
.first{
	margin-right: 5;
	font-weight: bold;
}
.second{
	margin-left: 5;
}
