<StackLayout>
  <ActionBar title="{{ 'consultation' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="back()"></NavigationButton>      
  </ActionBar>
  <StackLayout>
  	<Label class="subtitle" text="{{ 'prev_evaluations' | translate }}"></Label>
    <GridLayout rows="*">
      <RadListView row="0" [items]="getConsultations()" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" multipleSelection="false">
          <ng-template tkListItemTemplate let-item="item">
          	<StackLayout>
  	            <GridLayout columns="auto, *, auto" class="section">
  	                <Label col="0" class="first" [text]="item.date"></Label>
  	                <Label col="1" class="second" [text]="item.doctor"></Label>
  	                <Label col="2" text="&#x004D;" class="font-yanomapp"></Label>
  	            </GridLayout>
  	            <StackLayout height="2" backgroundColor="White"></StackLayout>
  	        </StackLayout>
          </ng-template>
      </RadListView>
      
      <FAB (tap)="newConsultation('/consultation/')" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></FAB>

    </GridLayout>
  </StackLayout>
</StackLayout>
