
.icon{
    font-size: 35;
	margin: 5;
}

.iconMsg{
    font-size: 35;
	margin: 10;
	color: #5c5c5c;
}

.number{
	font-size: 35;
	margin-top: 5;
	margin-right: 20;
	color: #5c5c5c;
}

.indicator{
	margin: 10;
	padding: 5;
	horizontal-align: center;
}

.margin-right{
    margin-right: 20px;
}

.central{
	font-size: 24;
	text-align: center;
	margin-top: 40%;
}

.message {
	margin-top: 10;
	horizontal-align: center;
	padding: 10;
}

.title{
	font-size: 18;
	font-weight: bold;
}

.text-bold{
    font-weight: bold
}

.gridLayout{
	background-color: #ffce18;
}