<StackLayout>
  <ActionBar title="{{ 'sync' | translate }}" class="action-bar" [isUserInteractionEnabled]="isBusy">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="back(isBusy)"></NavigationButton>
      <ActionItem text="{{ 'start' | translate }}" android.position="actionBar" ios.position="right" icon="res://sync" (tap)="sync()" ></ActionItem>
  </ActionBar>
    <GridLayout rows="auto ,*">
        <StackLayout row="0" orientation="horizontal" horizontalAlignment="center">
            <GridLayout columns="*,*,*" rows="auto">
                <GridLayout col="0" columns="auto, auto" rows="auto" class="indicator">
                    <Label col="0" text="&#x006C;" class="font-yanomapp iconMsg"></Label>
                    <Label col="1" [text]="valuePatients" class="number"></Label>
                </GridLayout>
                <GridLayout col="1" columns="auto, auto" rows="auto" class="indicator">
                    <Label col="0" text="&#x0054;" class="font-yanomapp iconMsg"></Label>
                    <Label col="1" [text]="valueConsultations" class="number"></Label>
                </GridLayout>
                <GridLayout col="2" columns="auto, auto" rows="auto" class="indicator">
                    <Label col="0" text="&#x0048;" class="font-yanomapp iconMsg"></Label>
                    <Label col="1" [text]="valueNotes" class="number"></Label>
                </GridLayout>
            </GridLayout>
        </StackLayout>
        <GridLayout row="1" rows="*" *ngIf="items.length">
            <StackLayout row="0" marginTop="10">
                <RadListView [items]="items" selectionBehavior="Press" multipleSelection="false" (itemSelected)="onSelection($event)">
                    <ng-template tkListItemTemplate let-item="item">
                        <GridLayout columns="auto,*,3*,auto" rows="40,10" class="gridLayout">
                            <Label class="font-yanomapp icon" text="{{ item.gen_pac == 'M' ? '&#x0059;' : '&#x0058;' }}" row="0" col="0"></Label>
                            <Label class="text-bold" [text]="item.nom_pac" row="0" col="1" verticalAlignment="center"></Label>
                            <Label text=" {{' ' + item.fec_cre === 'undefined' ? '' : item.fec_cre}}" row="0" col="2" verticalAlignment="center"></Label>
                            <Label class="font-yanomapp margin-right" text="&#x004d;" row="0" col="3" colSpan="2" verticalAlignment="center"></Label>
                            <Label row="1" col="0" colSpan="4" backgroundColor="white"></Label>
                        </GridLayout>
                    </ng-template>
                </RadListView>
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" *ngIf="!items || items.length == 0" class="message">
            <Label textWrap="true" class="central" text="{{ 'sync_empty' | translate }}"></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>
