<GridLayout>
	<GridLayout 
		#background
		scaleX="1.4"
		scaleY="1.4"
		class="login-view-background"
		(loaded)="startBackgroundAnimation(background)"
	>
	</GridLayout>
	<GridLayout rows="auto" class="layoutCenter"> 
		<GridLayout *ngIf="!isLoading" class="main-container" row="0" rows="auto" [translateY]="translateY">
			<StackLayout row="0">
				<Image src="res://logo" class="login-logo"></Image>
				<TextField [editable]="!isBusy" [(ngModel)]="userEmail" id="userEmail" hint="{{ 'email' | translate }}" keyboardType="email" autocorrect="false" autocapitalizationType="none"
					class="input input-border"></TextField>
				<TextField [editable]="!isBusy" [(ngModel)]="userPassword" id="userPassword" hint="{{ 'password' | translate }}" secure="true" class="input input-border"></TextField>
				<Button [isEnabled]="!isBusy" text="{{ 'enter' | translate }}" class="btn" (tap)="submit()"></Button>
				<GridLayout columns="*, *, *" rows="auto" class="center">
					<GridLayout columns="auto" col="0" row="0" horizontalAlignment="right" >
						<Label [class]="isBusy ? 'iconStl gray font-yanomapp' : 'iconStl blue font-yanomapp'" text="&#x0044;" horizontalAlignment="right" (tap)="navigate('/faq/')"></Label> 
					</GridLayout>
					<GridLayout columns="auto" col="1" row="0" horizontalAlignment="center" >
						<Label col="0" row="0" text="&#x0030;" [class]="isBusy ? 'labelIcon colorGray font-yanomapp' : 'labelIcon colorBlue font-yanomapp'" (tap)="fingerLogin()"></Label>
					</GridLayout>
					<GridLayout columns="auto" col="2" row="0" horizontalAlignment="left" (tap)="sync()">
						<Label col="0" row="0" text="&#x0052;" [class]="isBusy ? 'labelIcon colorGray font-yanomapp' : 'labelIcon colorBlue font-yanomapp'"></Label>
					</GridLayout>
				</GridLayout>
			</StackLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>
