.center {
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 50;
}
TextField {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10;
  placeholder-color: #ACA6A7;
  border-color: #a4a4a4; 
  font-family: serif !important;
  height: 48;
  color : rgb(54, 54, 54);
}
Button {
	margin-left: 10%;
	margin-right: 10%;
}
.login-view-background {
  background-image: url("res://login_background");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-container {
  margin-left: 30;
  margin-right: 30;
  background-color: rgb(255, 255, 255);
}
.login-logo {
  width: 70%;
  margin: 10;
}
.btn{
  margin-top: 20;
}
.iconSrcStack{
  padding-left: 5;
  padding-right: 5;
  padding-top: 5;
  padding-bottom: 5;
  border-radius: 100%;
  margin-top: 15;
  margin-left:10;
  margin-right:10;
}
.iconSrc{
  padding-left: 10;
  width: 40;
  padding-right: 10;
}
.iconStl{
  font-size: 50;
  padding-left: 20;
  margin: 15;
}
.blue{
  color: #066d8b; 
}
.gray{
  color: #6f7c80;
}
.labelIcon{
  color: #ffffff;
  margin: 15;
  border-radius: 100%;
  font-size: 30; 
  padding: 8; 
}
.colorBlue{
  background-color: #066d8b;
}
.colorGray{
  background-color: #6f7c80;
}
.layoutCenter{
  vertical-align: center;
}