/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
.src_img {
  width: 150; 
  height: 150; 
  border-radius: 100%;
  border-color: #f7f3f3;
  border-width: 5;
}
.action-bar {
	background-color: #066d8b;
	color: white;
}
.activity-indicator{
	width: 100;
	height: 100;
}
.font-yanomapp {
    font-family: "YanomApp";
}
.btn {
  background-color: #066d8b;
  margin: 10;
  color: white;
  border-radius: 20;
}
.fa{
	font-family: FontAwesome, "Font Awesome 5 Free";
	font-weight: 900;
}
.fab-button {
  height: 70;
  width: 70; 
  margin: 15;
  background-color: #e74e19; 
  horizontal-align: right; 
  vertical-align: bottom; 
}
