<StackLayout>
  <ActionBar title="{{ 'personal_data' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="patientBack()"></NavigationButton>
  	<ActionItem (tap)="saveModel($event)"
  		ios.systemIcon="3" ios.position="right" text="{{ 'save' | translate }}"
  		android.position="actionBar" icon="res://save">
  	</ActionItem>
  </ActionBar>
  <GridLayout rows="*">
    <ScrollView row="0">
		<StackLayout>
			<RadDataForm tkExampleTitle tkToggleNavButton #profileForm [isReadOnly]="isBusy" [source]="getIndian()" (propertyValidated)="onPropertyValidated($event)">
				<TKEntityProperty tkDataFormProperty name="indianId" readOnly="true" hidden="true" index="0">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="name" displayName="{{ 'name' | translate }}" required="true" index="1">
					<TKPropertyEditor tkEntityPropertyEditor type="Text">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="yearBorn" displayName="{{ 'year_born' | translate }}" required="true" index="2">
					<TKPropertyEditor tkEntityPropertyEditor type="Number">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="gender" displayName="{{ 'gender' | translate }}" required="true" index="3" [valuesProvider]="genders">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="height" displayName="{{ 'height' | translate }}" required="true" index="4">
					<TKPropertyEditor tkEntityPropertyEditor type="Number">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >
				
				<TKPropertyGroup tkDataFormGroups collapsible="false" name="{{ 'nationality' | translate }}" hidden="false">
					<TKGroupTitleStyle tkPropertyGroupTitleStyle labelTextSize="18"></TKGroupTitleStyle>
					<TKEntityProperty tkDataFormProperty name="isVenezuelan" imageResource="res://venezuela" displayName="{{ 'venezuela' | translate }}" index="5">
						<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>							
						</TKPropertyEditor>
					</TKEntityProperty >

					<TKEntityProperty tkDataFormProperty name="isBrazilian" imageResource="res://brazil" displayName="{{ 'brazil' | translate }}" index="6">
						<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>							
						</TKPropertyEditor>
					</TKEntityProperty >
				</TKPropertyGroup>				

				<TKEntityProperty tkDataFormProperty required="true" name="firstProcedence" displayName="{{ 'first_procedence' | translate }}" index="7" [valuesProvider]="procedence1">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty required="true" name="secondProcedence" displayName="{{ 'second_procedence' | translate }}" index="8" [valuesProvider]="procedence2">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>						
					</TKPropertyEditor>
				</TKEntityProperty >

	<!--      <TKEntityProperty tkDataFormProperty name="newCommunity" displayName="{{ 'community_type' | translate }}" required="true" index="10" valuesProvider="{{ 'select_added' | translate }}, {{ 'add_new' | translate }}">
					<TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty [readOnly]="isNew" tkDataFormProperty name="communityList" displayName="{{ 'community' | translate }}" index="11" [valuesProvider]="communities">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty [readOnly]="!isNew" tkDataFormProperty name="communityText" displayName="{{ 'community' | translate }}" index="12">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >
	-->

				<TKEntityProperty tkDataFormProperty name="communityList" displayName="{{ 'community' | translate }}" index="9" [valuesProvider]="procedence4">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="communityText" readOnly="true" hidden="true" index="10">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="newCommunity" readOnly="true" hidden="true" index="11">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="consultations" readOnly="true" hidden="true" index="12">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
				</TKEntityProperty >

				<TKEntityProperty tkDataFormProperty name="fingerprints" readOnly="true" hidden="true" index="13">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="dateCreated" readOnly="true" hidden="true" index="14">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="dateModified" readOnly="true" hidden="true" index="15">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty >
					
			</RadDataForm>

			<StackLayout  horizontalAlignment="center" (tap)="getPicture()">
				<Image [src]="imageSrc" stretch="aspectFill" class="src_img" loadMode="async"></Image>
			</StackLayout>

			<StackLayout  horizontalAlignment="center">
				<WrapLayout orientation="horizontal"  horizontalAlignment="center">
					<StackLayout  horizontalAlignment="center" *ngFor="let finger of fingerFound">
						<CardView elevation="20" radius="10" class="card" (tap)="savePatientFinger(finger.position)">
							<GridLayout columns="auto, auto" rows="auto" orientation="horizontal" class="box">
								<StackLayout col="0" orientation="horizontal" [class]="finger.hasFinger ? 'boxFinger' : 'boxNoFinger'">
									<Label text="&#x0030;" class="font-yanomapp icon"></Label>
								</StackLayout>
								<StackLayout col="1" class="description">
									<Label textWrap="true" [text]="finger.nameFinger" class="title"></Label>
									<Label *ngIf="!finger.hasFinger" textWrap="true" text="{{ 'press_add' | translate }}" class="text"></Label>
									<Label *ngIf="finger.hasFinger" textWrap="true" text="{{ 'press_save' | translate }}" class="text"></Label>
								</StackLayout>
							</GridLayout>
						</CardView>
					</StackLayout>
				</WrapLayout>
			</StackLayout>

		</StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
