<StackLayout>
  <ActionBar title="{{ 'consultation' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="backEvent($event)"></NavigationButton>
  	<ActionItem (tap)="saveModel($event)"
  		ios.systemIcon="3" ios.position="right" text="{{ 'save' | translate }}"
  		android.position="actionBar" icon="res://save">
  	</ActionItem>
  </ActionBar>
  <GridLayout rows="*">
    <ScrollView row="0">
		<StackLayout>
			<RadDataForm [isReadOnly]="isBusy" tkExampleTitle tkToggleNavButton #medicalForm [source]="getConsultation()" (propertyValidated)="onPropertyValidated($event)" >
				<TKEntityProperty tkDataFormProperty name="indianId" readOnly="true" hidden="true" index="0">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="dateCreated" readOnly="true" hidden="true" index="1">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="dateModified" readOnly="true" hidden="true" index="2">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="location" readOnly="true" hidden="true" index="3">
					<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="seriouslySick" displayName="{{ 'seriously_sick' | translate }}" index="4">
					<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty [readOnly]="!isFemale" tkDataFormProperty name="isPregnant" displayName="{{ 'pregnant' | translate }}" index="5">
					<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty [readOnly]="!isFemale" tkDataFormProperty name="fstWeekLactancy" displayName="{{ 'fst_week_lactancy' | translate }}" index="6">
					<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty required="true" name="medicine" displayName="{{ 'medicine' | translate }}" index="7" [valuesProvider]="medicineList">
					<TKPropertyEditor tkEntityPropertyEditor type="Picker">
						<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>				

				<TKEntityProperty tkDataFormProperty name="dose" displayName="{{ 'ivermectine_dose' | translate }}" index="8">
					<TKPropertyEditor tkEntityPropertyEditor type="Label">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="treatmentReluctant" displayName="{{ 'reluctance' | translate }}" index="9">
					<TKPropertyEditor tkEntityPropertyEditor type="Switch">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="observations" displayName="{{ 'observations' | translate }}" index="10">
					<TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="doctor" readOnly="true" hidden="true" index="11"></TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="finger" readOnly="true" hidden="true" index="12"></TKEntityProperty>

				<TKEntityProperty tkDataFormProperty name="match" readOnly="true" hidden="true" index="13"></TKEntityProperty>

			</RadDataForm>
			<StackLayout  horizontalAlignment="center" (tap)="getPicture()">
				<Image [src]="imageSrc" stretch="aspectFill" class="src_img" loadMode="async"></Image>
			</StackLayout>
		</StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
