.message {
	margin-top: 10;
	horizontal-align: center;
	padding: 10;
	position: relative;
}
.section {
	padding: 10;
}

.title {
	font-size: 20;
	font-weight: bold;
}

.bckgreen {   
	background-color: #388e3c;
}

.bckblue {   
	background-color: #0078fb;   
}

.bckred {   
	background-color: #e74e19;  
}
   
.icon {
	font-size: 75;
	margin: 5;
	color: white; 
}

CardView{
	margin-top: 20;
	margin-bottom: 20;
	margin-left: 30;
	margin-right: 30;
	padding: 10;
}

.icon_layout{
	padding: 10;
}

.desc_layout{
	padding: 10;
	background-color: #f7f3f3;
}

.space{
	padding-left: 5;
}