<GridLayout rows="*">
	<StackLayout row="0">
		<StackLayout class="message">
			<Label [text]="visitMessage" textWrap="true"></Label>
		</StackLayout>

		<CardView elevation="40" radius="10" (tap)="newRecord('/patientOptions/')">
			<GridLayout columns="auto, *" rows="auto" class="section">
				<StackLayout col="0" row="0" class="icon_layout bckgreen">
					<Label text="&#x006C;" class="font-yanomapp icon"></Label>
				</StackLayout>
				<StackLayout row="0" col="1" class="desc_layout">
					<Label text="{{ 'new_patient' | translate }}" class="title" textWrap="true"></Label>
					<Label text="{{ 'new_patient_desc' | translate }}" textWrap="true" class="space"></Label>
				</StackLayout>
			</GridLayout>
		</CardView>

		<CardView elevation="40" radius="10" (tap)="checkPlugin()">
			<GridLayout columns="auto, *" rows="auto" class="section">
				<StackLayout col="0" row="0" class="icon_layout bckblue">
					<Label text="&#x0054;" class="font-yanomapp icon"></Label>
				</StackLayout>
				<StackLayout row="0" col="1" class="desc_layout">
					<Label text="{{ 'clinic_histories' | translate }}" class="title" textWrap="true"></Label>
					<Label text="{{ 'clinic_desc' | translate }}" textWrap="true" class="space"></Label>
				</StackLayout>
			</GridLayout>
		</CardView>
		<CardView elevation="40" radius="10" (tap)="navigate('/sync')">
			<GridLayout columns="auto, *" rows="auto" class="section" (tap)="navigate('/sync')">
				<StackLayout col="0" row="0" class="icon_layout bckred">
					<Label col="0" text="&#x0053;" class="font-yanomapp icon"></Label>
				</StackLayout>
				<StackLayout col="1" row="0" class="desc_layout">
					<Label text="{{ 'sync' | translate }}" class="title" textWrap="true"></Label>
					<Label text="{{ 'sync_desc' | translate }}" textWrap="true" class="space"></Label>
				</StackLayout>
			</GridLayout>	
		</CardView>
	</StackLayout>
</GridLayout>