<StackLayout>
  <ActionBar title="{{ 'personal_data' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="doctorBack()"></NavigationButton>
  	<ActionItem (tap)="saveModel($event)"
  		ios.systemIcon="3" ios.position="right" text="{{ 'save' | translate }}"
  		android.position="actionBar" icon="res://save">
  	</ActionItem>
  </ActionBar>
  <GridLayout rows="*">
    <ScrollView row="0">
		<StackLayout>
			<RadDataForm tkExampleTitle tkToggleNavButton #docProfileForm [isReadOnly]="isBusy" [source]="getDoctor()" (propertyValidated)="onPropertyValidated($event)">
				<TKEntityProperty tkDataFormProperty name="dateCreated" readOnly="true" hidden="true" index="0"></TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="dateModified" readOnly="true" hidden="true" index="1"></TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="email" displayName="{{ 'email' | translate }}" readOnly="true" index="2">
					<TKPropertyEditor tkEntityPropertyEditor type="Text">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="firstName" displayName="{{ 'first_name' | translate }}" required="true" index="3">
					<TKPropertyEditor tkEntityPropertyEditor type="Text">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty >
				<TKEntityProperty tkDataFormProperty name="lastName" displayName="{{ 'last_name' | translate }}" required="true" index="4">
					<TKPropertyEditor tkEntityPropertyEditor type="Text">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
					</TKPropertyEditor>
				</TKEntityProperty >
			</RadDataForm>
			
			<StackLayout  horizontalAlignment="center" (tap)="getPicture()">
				<Image [src]="imageSrc" stretch="aspectFill" class="src_img" loadMode="async"></Image>
			</StackLayout>

			<CardView elevation="20" radius="10" class="card" (tap)="getNewFinger()">
				<GridLayout columns="auto, *" rows="auto" orientation="horizontal" class="box">
					<StackLayout col="0" orientation="horizontal" [class]="fingerFound ? 'boxFinger' : 'boxNoFinger'">
						<Label text="&#x0030;" class="font-yanomapp icon"></Label>
					</StackLayout>
					<StackLayout col="1" class="description">
						<Label *ngIf="!fingerFound" textWrap="true" text="{{ 'no_finger' | translate }}" class="title"></Label>
						<Label *ngIf="!fingerFound" textWrap="true" text="{{ 'press_add' | translate }}" class="text"></Label>
						<Label *ngIf="fingerFound" textWrap="true" [text]="fingerSaved" class="title"></Label>
						<Label *ngIf="fingerFound" textWrap="true" text="{{ 'press_save' | translate }}" class="text"></Label>
					</StackLayout>
				</GridLayout>
			</CardView>
		</StackLayout>			
    </ScrollView>
  </GridLayout>
</StackLayout>
