.card{
    margin: 20;
    horizontal-alignment: center;
    width: 70%;
}
.box{
    margin:10;
}
.boxFinger{
    background-color: #098a1a;
}
.boxNoFinger{
    background-color: #ffcc00;
}
.icon{
    font-size: 30;
    margin: 12;
    color: #ffffff;
}
.text{
    font-size: 12;
    margin-left: 10;
    margin-right: 5;
    padding-left: 5;
}
.description{
    background-color: #f7f3f3;
}
.title {
	font-size: 14;
	font-weight: bold;
    margin-left: 10;
    margin-top: 10;
}