<ActionBar title="{{ 'clinic_histories' | translate }}" class="action-bar">
    <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="backPatient()"></NavigationButton>
</ActionBar>
<StackLayout>
	<CardView elevation="40" radius="10" (tap)="navigateTo('/indianProfile/')">
		<GridLayout rows="auto, auto">
			<StackLayout row="0" class="personalInfo-content info-content">
				<Label class="title" text="{{ 'personal_data' | translate }}"></Label>
				<StackLayout *ngIf="!foundProfile">
					<Label text="{{ 'no_personal_data' | translate }}"></Label>
				</StackLayout>
				<StackLayout *ngIf="foundProfile">
					<Label [text]="profile.name"></Label>
					<Label [text]="profile.year_born"></Label>
					<Label [text]="profile.gender"></Label>
					<Label [text]="profile.height"></Label>
					<Label [text]="profile.community"></Label>
				</StackLayout>
			</StackLayout>
			<StackLayout row="1" class="personalInfo-footer info-footer">
				<GridLayout columns="*, auto">
					<Label col="0" text="{{ 'register_data' | translate }}"></Label>
					<Label col="1" text="&#x004D;" class="font-yanomapp"></Label>
				</GridLayout>
			</StackLayout>
		</GridLayout>
	</CardView>

	<CardView elevation="40" radius="10" *ngIf="foundProfile" (tap)="checkConsultation()">
		<GridLayout rows="auto, auto">
			<StackLayout row="0" class="medicalInfo-content info-content">
				<Label class="title" text="{{ 'medic_history' | translate }}"></Label>
				<Label *ngIf="!foundConsultation" text="{{ 'no_histories' | translate }}"></Label>
				<StackLayout *ngIf="foundConsultation">
					<Label [text]="lastConsultation.dateCreated"></Label>
					<Label [text]="lastConsultation.doctor"></Label>
				</StackLayout>
			</StackLayout>
			<StackLayout row="1" class="medicalInfo-footer info-footer">
				<GridLayout columns="*, auto">
					<Label *ngIf="!foundConsultation" col="0" text="{{ 'new_history' | translate }}"></Label>
					<Label *ngIf="foundConsultation" col="0" text="{{ 'create_view_histories' | translate }}"></Label>
					<Label col="1" text="&#x004D;" class="font-yanomapp"></Label>
				</GridLayout>
			</StackLayout>
		</GridLayout>
	</CardView>

</StackLayout>
