.personalInfo-content{
	background-color: #0078fb;
}
.personalInfo-footer{
	color: #0078fb;
}
.medicalInfo-content{
	background-color: #e74e19;
}
.medicalInfo-footer{
	color: #e74e19;
}
.info-content{
	color: #ffffff;
	padding:10;
	margin:5;
}
.info-footer{
	background-color: #ffffff;
	padding:5;
	margin:5;
	font-weight: bold;
}
CardView{
	margin: 10;
	padding:10;
}
.title{
	font-size: 18;
	font-weight: bold;
}