<StackLayout>
  <ActionBar title="{{ 'help' | translate }}" class="action-bar">
      <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="back()"></NavigationButton>
  </ActionBar>
  <GridLayout rows="*">
      <RadListView row="0" [items]="faqs" selectionBehavior="None">
          <ng-template tkListItemTemplate let-item="item">
          	<StackLayout>
                  <Label class="question"  textWrap="true">
                    <FormattedString>
                        <Span [text]="item.question" color="#e74e19" fontAttributes="Bold"></Span>
                    </FormattedString>
                  </Label>
                  <Label class="answer"  textWrap="true" >
                    <FormattedString>
                            <Span [text]="item.answer"></Span>
                    </FormattedString>
                  </Label>
                  <StackLayout height="2" backgroundColor="White"></StackLayout>
  	        </StackLayout>
          </ng-template>
      </RadListView>
  </GridLayout>
</StackLayout>
