<StackLayout>
    <ActionBar id="actionBar" title="{{ 'map' | translate }}" class="action-bar" [isUserInteractionEnabled]="isBusy">
        <NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="backMap()"></NavigationButton>       
        <ActionItem text="{{ 'share' | translate }}" android.position="actionBar" ios.position="right" icon="res://share" (tap)="sharePopup()"></ActionItem>
        <ActionItem text="{{ 'format' | translate }}" android.position="actionBar" ios.position="right" icon="res://globe" (tap)="toggleFormat()"></ActionItem>
        <ActionItem text="{{ 'areas' | translate }}" android.position="actionBar" ios.position="right" icon="res://layers" (tap)="selectZonas()"></ActionItem>
        <ActionItem text="{{ 'map_download' | translate }}" android.position="actionBar" ios.position="right" icon="res://download" (tap)="downloadMaps()"></ActionItem>
        <ActionItem text="{{ 'center' | translate }}" android.position="actionBar" ios.position="right" icon="res://location" (tap)="centerMap()"></ActionItem>
    </ActionBar>
  
</StackLayout>