<StackLayout>
  <ActionBar title="{{ 'visitObservation' | translate }}" class="action-bar">
	<NavigationButton text="{{ 'back' | translate }}" icon="res://back" (tap)="backEvent($event)"></NavigationButton>
	<ActionItem (tap)="saveModel($event)" ios.position="right" text="{{ 'save' | translate }}"
		android.position="actionBar" icon="res://save">
	</ActionItem>
  </ActionBar>
  <GridLayout rows="*">
    <ScrollView row="0">
			<StackLayout>
				<RadDataForm tkExampleTitle tkToggleNavButton #observationForm [isReadOnly]="isBusy" [source]="getObservation()" (propertyValidated)="onPropertyValidated($event)">
					<TKEntityProperty tkDataFormProperty name="doctorId" readOnly="true" hidden="true" index="0">
						<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
					</TKEntityProperty>

					<TKEntityProperty tkDataFormProperty name="dateCreated" readOnly="true" hidden="true" index="1">
						<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
					</TKEntityProperty>

					<TKEntityProperty tkDataFormProperty name="dateModified" readOnly="true" hidden="true" index="2">
						<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
					</TKEntityProperty>

					<TKEntityProperty tkDataFormProperty name="location" readOnly="true" hidden="true" index="3">
						<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
					</TKEntityProperty>

					<TKEntityProperty tkDataFormProperty required="true" name="type" displayName="{{ 'observation_type' | translate }}" index="4" [valuesProvider]="typeAlerts">
						<TKPropertyEditor tkEntityPropertyEditor type="Picker">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
						</TKPropertyEditor>
					</TKEntityProperty >

					<TKEntityProperty tkDataFormProperty name="observations" displayName="{{ 'observations' | translate }}" index="5">
						<TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
							<TKPropertyEditorStyle tkPropertyEditorStyle labelTextSize="18"></TKPropertyEditorStyle>
						</TKPropertyEditor>
					</TKEntityProperty >

				</RadDataForm>
				<StackLayout  horizontalAlignment="center" (tap)="getPicture()">
					<Image [src]="imageSrc" stretch="aspectFill" class="src_img" loadMode="async"></Image>
				</StackLayout>
			</StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
